body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: slategray;
}

.profile-pic {
  width: auto;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;    
}

header {
  background-color: midnightblue;
  color: white;
  text-align: center;
  font-size: medium;
}

header h1 {
  margin: 0 0 0 0;
}

header p {
  background-color: midnightblue;
  margin-top: 0px;
  margin-bottom: auto;
}

nav ul {
  background-color: slategray;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding: auto;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2rem;
  background-color: white;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: auto;
}

footer {
  text-align: center;
  background-color: midnightblue;
  color: white;
  padding: 1rem;
}